.Hero-section{
color: black;
font-family: Mulish;
font-size: 25px;
font-weight: 800;
/* align-items: center; */
/* justify-content: center; */

}
.logos{
    width: 40px;
    /* align-items: center;
    justify-content: center; */
    margin-left: 10px;
    margin-top: 10px;
   padding-right: 5px;   
}
.travel{
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}
.nav-bar{
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 20px;
    width: 73%;
   justify-content: flex-end;
    border: 1px solid red;

    
    
}
.container{
    display: flex;
    align-items: center;
    margin: 9px;
    padding: 10px;
   
    /* flex-direction: column; */
}

#home-navbar{
    color: #FF5400;
}
.cover-pic{
    width: 85%;
    margin-left: 40px;
    padding: 10px;
    border-radius: 16px;
    filter: brightness(0.7);
    
}
.image-container{
    position: relative;
    
}
.hero-text{
 
    position: absolute; /* Position the text absolutely within the container */
    top: 130px; 
    left: 450px; /* Adjust the position from the left edge */
    color: white; /* Set the text color */
    font-size: 40px; /* Set the font size */
    opacity: 0.6;
    font-weight: 800;
    padding: 5px; /* Add padding around the text */
    
}
